body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(44,32,255);
  background: linear-gradient(90deg, rgba(44,32,255,1) 0%, rgba(0,212,255,1) 0%, rgba(0,101,250,1) 18%, rgba(105,9,121,1) 100%, rgba(11,176,5,1) 100%);
}

header {
  text-align: center;
  font-size: 5vw;
  color: white;
  font-weight: bold;
  margin-bottom: 10vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid-container {
  display: grid;
  grid-template-columns: 10vh 10vh 10vh 10vh 10vh;
  grid-template-rows: repeat(5, 10vh);
  background-color: white;
  height: 50vh;
  width: 50vh;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.5vh solid black;
  width: 9.5vh;
  height: 9.5vh;
  font-size: 10px;
  text-align: center;
}

.home-container {
  padding-left: 20vh;
  padding-right: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.home-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

.code-input-container {
  display: flex;
  flex-direction: row;
  height: 10vh;
  justify-content: space-evenly;
}

.name-input {
  height: 10vh;
}

.code-input {
  margin-right: 1vw;
}

.create-room-button {
  height: 10vh;
}