.lobby-head {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    height: 20vh;
    
}

.box-container {
    width: 100%;
} 

.code-info {
    position: absolute;
    top: 0;
    left: 1px;
}

